@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");


.navbar{

    height:75px;

    background:white;

    border-bottom:1px solid #e5e7eb;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 60px;

    font-family:"Inter",sans-serif;

}



/* LOGO */


.logo{

    text-decoration:none;

    color:#16a34a;

    font-size:25px;

    font-weight:800;

    display:flex;

    align-items:center;

    gap:10px;

}



/* LINKS */


.links{

    display:flex;

    align-items:center;

    gap:28px;

}



.links a{

    text-decoration:none;

    color:#374151;

    display:flex;

    align-items:center;

    gap:8px;

    font-weight:600;

    transition:.3s;

}



.links a:hover{

    color:#16a34a;

}



.links svg{

    font-size:16px;

}



/* LOGOUT */


.links button{

    border:none;

    background:#111827;

    color:white;

    padding:11px 18px;

    border-radius:12px;

    display:flex;

    align-items:center;

    gap:8px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}



.links button:hover{

    background:#16a34a;

}





@media(max-width:800px){


    .navbar{

        padding:0 25px;

    }



    .links{

        gap:12px;

    }



    .links a{

        font-size:0;

    }



    .links button{

        font-size:0;

    }



    .links svg{

        font-size:18px;

    }


    .logo{

        font-size:20px;

    }


}